- provide(:pages, "active")
- provide(:admin, "active")
- provide(:title, "Pages")
/ - provide(:head, javascript_pack_tag('admin_pages'))

h3.boffset20
  = t('uploaded-pages')
.btn-toolbar.boffset20
  = link_to t('upload-pages'), new_admin_page_path, class: "btn btn-primary btn-sm"

#admin-pages-table-container
