<% provide(:pages, "active") %>

<% content_for :head do -%>
  <%= javascript_pack_tag "pages_app" %>
  <%= stylesheet_pack_tag "pages_app" %>
<% end -%>

<div id="pages-app">
  <pages></pages>
</div>
