- provide :admin, 'active'
- provide :pages, 'active'

h3 
  = @page.title
  - if @page.visible
    span.label.label-success.pull-right style="font-size: 60%;" = t('visible')
  - else
    span.label.label-danger.pull-right style="font-size: 60%;" = t('hidden')
    
= link_to t('transcribe-this-page'), new_transcription_path(@transcription, :current_page_id => @page)
<br />
<hr />

= render 'pages_table', pages: [@page]

<hr />

h3.transcriptions = t('transcriptions.transcriptions')
= render 'transcriptions/transcriptions_table', transcriptions: @page.transcriptions

.voffset20
  = render 'pages/metadata_form', page: @page, submit_btn_text: t('page-metadata.form.labels.update-btn')

= link_to t('edit'), edit_admin_page_path(@page)
'&nbsp|
= link_to t('delete'), admin_page_path(@page), data: {:confirm => strip_tags(t('are-you-sure'))}, :method => :delete
'&nbsp|
= link_to t('view-all-pages'), admin_pages_path

= render 'pages/large_page_image', page: @page
