<h1> Editing field </h1>

<%= render 'form' %>
<div id="field-options-app-container" class="row voffset30"></div>

<%= link_to t('back'), admin_field_path(@field) %> | <%= link_to t('view-all-fields'), admin_fields_path %>

<% content_for :head do -%>
  <%= render "shared/field_options_app", field: @field %>
<% end -%>
