<% header = header || false %>
<% opens_new_tab = opens_new_tab || false %>
<% top_active = @page && @page == page %>
<% top_active ||= @page && page.children.collect(&:id).include?(@page.id) %>


<li class="nav-item dropdown bg-dark">
  <a class="nav-link dropdown-toggle <%= top_active ? 'active' : '' %>" data-toggle="dropdown" href="#" role="button"><%= page.title %></a>
  <ul class="dropdown-menu multi-level bg-dark ">
    <% if page.children.any? %>
      <%= render partial: 'static_pages/sub_menu', locals: { page: page, header: header, opens_new_tab: opens_new_tab } %>
    <% else %>
      <% if page.link %>
        <%= link_to(
                     page.title,
                     page.link,
                     {
                       class: "dropdown-item #{(@page && @page == page)? 'active' : ''}",
                       target: page.is_external? || opens_new_tab ? "_blank" : "_self",
                       name: CGI.escape(page.title.downcase)
                     }
                   )
        %>
      <% end %>
    <% end %>
  </ul>
</li>

<!-- - page.children.each do |child|
  - if child.visible && (header ? child.show_in_header : child.show_in_footer)
    = render 'static_pages/link', page: child, opens_new_tab: opens_new_tab, header: header -->
