<div class="row">
    <div class="col-md-12">
        <h1>Editing Field Group</h1>
    </div>
    <div class="col-md-12">
        <%= render 'form' %>
    </div>
    <div class="col-md-12" style=" margin-top: 20px;">
        <%= link_to 'Show', @field_group %> | <%= link_to 'Back', field_groups_path %>
    </div>
</div>
