<div class="row">
    <div class="col-md-12">
        <h1>New Field Group</h1>
    </div>
    <div class="col-md-12">
        <%= render 'form', field_group: @field_group %>
    </div>
    <div class="col-md-12">
        <%= link_to 'Back', field_groups_path %>
    </div>
</div>
