= simple_form_for([:admin, @better_together_post]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :slug, required: false
    <button type="button" id="toggle-visual-editor-btn" class="btn btn-xs btn-default pull-right" data-toggle="popover" data-trigger="hover" data-container="body" data-html="true" data-placement="auto top" data-title="Visual Editor" data-content="If you turn on the visual editor, you may lose some fine-grained control over the result of your page. <b>Do not use the visual editor to modify the custom stylesheet.</b>">Toggle Visual Editor</button>
    = f.input :content, as: :text, input_html: { rows: 20 }

  .form-actions
    = f.button :submit, class: 'btn-primary'

javascript:
  var editorIsEnabled = false;
  var $editorInput = $('#better_together_post_content');

  function initEditor() {
    if (editorIsEnabled) {
      $editorInput.trumbowyg("destroy");
      editorIsEnabled = false;
    } else {
      $editorInput.trumbowyg({
        removeformatPasted: true,
        autogrow: true,
        svgPath: "#{image_path("trombowyg/icons.svg")}",
        semantic: false
      }).on("tbwinit", function() {
        editorIsEnabled = true;
      });
    };
  }

  $(document).ready(initEditor);

  $("#toggle-visual-editor-btn").click(initEditor);
