[client]
default-character-set=utf8mb4
[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
local-infile=1
default-time-zone='+00:00'
bind-address=0.0.0.0
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
#ALLOW_INVALID_DATES
max_connections=200
max_connect_errors=200
# table_open_cache 2 x max connections
table_open_cache=400
#connect_timeout=60
#MinProtocol = TLSv1.2
#[system_default_sect]
#MinProtocol = TLSv1.2
[mysqldump]
column-statistics=0

