/! html page unassociated with a model
h1 About
p This project is spearheaded by Dr. Victoria Slonosky at McGill University. Over 300,000 transcriptions have been done by Vicky and her team of volunteers prior to implementing this web platform.
p This site aims to facilitate the transcription of microfilm scans of historical weather logs with the goal of recovering otherwise unusable analog data for use in contemporary studies. With this recovered data, we can attain a better understanding of how climate has been shifting over the last hundred years of record-keeping.