<% content_for :head do -%>
  <%= javascript_pack_tag "data_entry_audits_app" %>
  <%= stylesheet_pack_tag "data_entry_audits_app" %>
<% end -%>

<div id="data-entry-audits-app">
  <data-entry-audits></data-entry-audits>
</div>
