<% provide(:page_types, "active") %>
<% provide(:admin, "active") %>
<% provide(:title, ("Editing " + @page_type.title + " | Page Types")) %>

<h1><a href="<%= admin_page_types_path %>" class="btn btn-default" style="margin-right: 20px;" data-toggle="tooltip" data-trigger="hover" title="Back to all page types"><i class="fa fa-arrow-left"></i></a>Editing <%= @page_type.title %></h1>

<%= render 'form' %>

<div id="field-groups-app-container" class="row voffset30"></div>
<%= render "shared/field_groups_app", page_type: @page_type %>

