/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require jquery.fileupload
 *= require jquery.fileupload-ui
 *= require_self
 *= require_tree .
*/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "users";


.main-app {
  padding-bottom:200px;
}

.footer {
  background:#ffffff;
  height:200px;
  position:center;
  bottom:0;
}

.btn-signup:link {color:white}
.btn-signup:active {color:white}
.btn-signup:visited {color:white}
.btn-signup:hover {color:white}

.sidebar-url:link {color:black}
.sidebar-url:active {color:black}
.sidebar-url:visited {color:black}
.sidebar-url:hover {color:black}

.partner-logo {
  height: 80px;
}

.footer-copyright {
  text-align: center;
}

.footer-nav {
    display: inline-block;
    float: none;
}

.footer-nav-collapse {
    text-align: center;
}

.input.error {
  background-color: #F2DEDE;
  border-color: #EBCCD1;
  border: 1px solid transparent;
  border-radius: 4px;
  
  small {
    color: #A94442;
  }
}
