/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require jquery.fileupload
 *= require jquery.fileupload-ui
 *= require jquery-ui
 *= require select2
 *= require select2-bootstrap
 *= require trumbowyg/dist/ui/trumbowyg
 *= require wickedpicker
 *= require bootstrap-switch/dist/css/bootstrap3/bootstrap-switch
 *= require eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min
 *= require magnify
 *= require animate
 *= require snowEffect


 *= require_tree .
 *= require_self
*/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "draw-variables";

// html, body {
//   height: 100%;
//   margin: 0;
// }

.translation_missing {
  background-color: #e0e0e0 !important;
}

.btn, .label {
  .translation_missing {
    color: black !important;
  }
}

a {
    color: $accent-color;
    &:not(.btn){
        &:hover, &:active, &:focus {
            color: lighten($accent-color, 10%);
        }
        &:visited {
            color: darken($accent-color, 10%);
        }
    }
}
.body-bg-img {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-repeat: no-repeat;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-image: url(image_path("mcgill-background"));
    background-position: left center;

  &.holiday-special {
    background-image: url(image_path("holiday-bg"));
    -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
    filter: grayscale(50%);
  }
}
.main-wrapper {
  padding: 0;
  min-height: 100%;
  padding-bottom: 100px;
}

.top-nav {
  position: fixed;
  top: 0;
  max-height: 70px;
  width: 100%;
  padding: 0;
  z-index: 5000;
}
.main-app {
  padding-top: 70px;
  padding-bottom: 150px;

  .main-content-container {
    margin: 0 auto;
    display: block;
    float: none;
    padding: 30px;

    &.default{
        background-color: #fafafa;
        min-height: 300px;
    }
  }
}

.footer {
    background:#ffffff;
    min-height:200px;
    width: 100%;
    bottom: 0;
}

.btn-signup:link {color:white}
.btn-signup:active {color:white}
.btn-signup:visited {color:white}
.btn-signup:hover {color:white}

.sidebar-url:link {color:black}
.sidebar-url:active {color:black}
.sidebar-url:visited {color:black}
.sidebar-url:hover {color:black}

.partner-logo {
  width: 100%;
}

.footer-copyright {
  text-align: center;
}

.footer-nav {
    display: inline-block;
    float: none;
}

.footer-nav-collapse {
    text-align: center;
}

.input.error {
  background-color: #F2DEDE;
  border-color: #EBCCD1;
  border: 1px solid transparent;
  border-radius: 4px;

  small {
    color: #A94442;
  }
}

.hidden {
  display: none;
}

.label.label-important {
  color: black;
  font-weight: bold;
}

/* the following are general purpose vertical spacers since Bootstrap does not offer this */
.voffset0  { margin-bottom: 0px !important; }
.voffset2  { margin-top: 2px; }
.voffset5 { margin-top: 5px; }
.voffset10 { margin-top: 10px; }
.voffset15 { margin-top: 15px; }
.voffset20 { margin-top: 20px; }
.voffset25 { margin-top: 20px; }
.voffset30 { margin-top: 30px; }
.voffset40 { margin-top: 40px; }
.voffset60 { margin-top: 60px; }
.voffset80 { margin-top: 80px; }
.voffset100 { margin-top: 100px; }
.voffset150 { margin-top: 150px; }

.loffset2  { margin-left: 2px; }
.loffset5 { margin-left: 5px; }
.loffset10 { margin-left: 10px; }
.loffset15 { margin-left: 15px; }
.loffset20 { margin-left: 20px; }
.loffset30 { margin-left: 30px; }
.loffset40 { margin-left: 40px; }
.loffset60 { margin-left: 60px; }
.loffset80 { margin-left: 80px; }
.loffset100 { margin-left: 100px; }
.loffset150 { margin-left: 150px; }

.boffset0  { margin-bottom: 0 !important; }
.boffset2  { margin-bottom: 2px; }
.boffset5 { margin-bottom: 5px; }
.boffset10 { margin-bottom: 10px; }
.boffset15 { margin-bottom: 15px; }
.boffset20 { margin-bottom: 20px; }
.boffset30 { margin-bottom: 30px; }
.boffset40 { margin-bottom: 40px; }
.boffset60 { margin-bottom: 60px; }
.boffset80 { margin-bottom: 80px; }
.boffset100 { margin-bottom: 100px; }
.boffset150 { margin-bottom: 150px; }


.remove-from-field-btn, .remove-from-field-group-btn, .remove-from-page-type-btn {
    color: hsl(2, 64%, 58%);

    &:hover {
        color: hsl(2, 64%, 45%);
        cursor: pointer;
    }
}

.add-to-field-btn, .add-to-field-group-btn, .add-to-page-type-btn {
    color: hsl(120, 39%, 54%);

    &:hover {
        color: hsl(120, 39%, 45%);
        cursor: pointer;
    }
}

.field-option-table, 
.fields-table, 
.field-groups-table {
  tbody {
    tr:not(.title-wrapper) {
      &:hover {
        background-color: hsl(0, 0%, 95%)
      }
    }
  }
}

.switches-container {
  .checkbox {
    label {
      display: block;
      padding-left: 0;

      .bootstrap-switch.bootstrap-switch-wrapper {
        display: block;
      }
    }
  }
}

.draw-footer-nav-container {
    display: block;
    width: 100%;
    margin-bottom: 0;
    background: rgba(0,0,0,0.8);
    border-color: transparent;
    color: white;

    .footer-copyright {
        margin: 10px 0;
    }

    > div {
      display: block;
      text-align: center;
    }

    .navbar-nav > li > a, .navbar-header a {
        color: white;
    }
}

.draw-top-nav {
    background: rgba(0,0,0,0.8);
    border-color: transparent;

    .navbar-nav > li > a, .navbar-header a {
        color: white;
    }


}

.navbar-nav > li > a {
    transition: all 0.2s;
}

.navbar-default .navbar-nav > li > a:focus {
  color: $accent-color;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav> li > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: $accent-color;
}

.homepage-wrapper {
    background: rgba(0,0,0,0.7);
    border-radius: 10px;
    padding: 30px;

    color: white;
    .homepage-header {
      color: $accent-color;
      font-size: 80px;
    }

    .homepage-subtitle {
        margin-top: 0;
    }

    .homepage-intro {
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      padding: 0 20px;
      text-align: center;
    }

    .homepage-actions {
      .btn {
          margin: 0 10px;
      }
    }
}

.btn-draw-accented {
  color: white !important;
  background-color: $accent-color;
  border-color: darken($accent-color, 10%);

  &:hover {
    background-color: darken($accent-color, 10%);
    border-color: darken($accent-color, 20%);
  }
}

.btn-draw-transparent {
  color: white !important;
  background-color: transparent;
  border: 2px solid white;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
  }
}

ul.dropdown-menu {
    min-width: 100%;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background-color: $accent-color;

  &:visited {
    color: white;
  }
}

.edit-page-btn {
  position: absolute;
  top: 5px;
  right: 5px;
}

table#admin-pages {
  .page-metadata-day:not(:last-child) {
    border-bottom: 1px solid #666;
    margin-bottom: 5px;
    padding-bottom: 5px;
  }
}

.box-modal-btn-container {
  overflow: hidden;
}


.admin-star {
  color: hsl(51, 100%, 50%);
  text-shadow: #333 1px 1px 3px;
}


.dropdown-submenu {
  position: relative;

  & > .dropdown-menu {
    font-size: inherit;
    background-color: #000;

    & > li > a {
      padding-left: 15px;
      padding-right: 15px;
      color: white;

      &:hover, &:focus {
        background-color: $accent-color;
      }
    }
  }
}

.draw-top-nav:not(#transcriber-nav) {
  .dropdown-submenu > .dropdown-menu {
    background: rgba(0, 0, 0, 0.8);
  }
}

.dropdown-submenu:not(.top-level-nav) > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
    padding-bottom: 0;
}

.dropdown-submenu:not(.top-level-nav) > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}


a.dropdown-toggle.nav-user-flair {
  padding-left: 45px;
  position: relative;

  img.nav-user-photo {
    width: 30px;
    position: absolute;
    left: 10px;
    top: 10px;
    display: block;
  }

}

.magnify, #page-img {
    width: 100%;
}

.sub-schema-field {
  border: none;
  box-shadow: none;
  height: auto;
  padding: 0;
  padding-top: 6px;
}

div[class*=".col-*"] {
  .form-group {
    .checkbox input[type="checkbox"] {
      position: relative;
      top: 2px;
      margin-right: 5px;
    }
  }
}