<% provide(:static_pages, "active") %>
<% provide(:admin, "active") %>

<div class="row">
  <div class="col-md-12">
    <h1>Edit Content Page</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render 'form', page: @page %>
  </div>
</div>