<% provide(:static_pages, "active") %>
<% provide(:admin, "active") %>
<% provide(:title, strip_tags(t('custom-pages'))) %>

<h1><%= t('custom-pages') %></h1>
<% if @static_pages %>

  <%= render 'static_page_table', pages: @static_pages %>
<% end %>

<%= link_to t('new-custom-page'), new_admin_static_page_path %>