<% provide(:transcriptions, "active") %>

<% content_for :head do -%>
  <%= javascript_pack_tag "transcriptions_app" %>
  <%= stylesheet_pack_tag "transcriptions_app" %>
<% end -%>

<div id="transcriptions-app">
  <transcriptions></transcriptions>
</div>
