<% if flash.to_hash.length > 0 %>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %> fade in">
        <button class="close glyphicon glyphicon-remove" data-dismiss="alert" style=""></button>
        <%= value.html_safe %>
    </div>
  <% end %>
<% end %>
