<div class="nav navbar navbar-default draw-footer-nav-container">
    <% if StaticPage.sidebar_links.any? %>
        <div class="footer-nav-wrapper">
            <ul class="nav navbar-nav footer-nav footer-nav-collapse">
                <% StaticPage.sidebar_links.each do |sp| %>
                    <li> <%= link_to(sp.title, sp.link, class: "sidebar-url", target: (sp.is_external? ? "_blank" : "_self"), name: CGI.escape(sp.title.downcase)) %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div>
        <p class="footer-copyright">&copy; DRAW 2016</p>
    </div>
</div>
