<div class="nav navbar navbar-default draw-footer-nav-container">
    <% if StaticPage.footer_links.any? %>
        <div class="footer-nav-wrapper">
            <ul class="nav navbar-nav footer-nav footer-nav-collapse">
              <%= render partial: "static_pages/link", collection: StaticPage.footer_links, as: :page, locals: { top_level: true, header: false } %>
            </ul>
        </div>
    <% end %>
    <div>
        <p class="footer-copyright">&copy; <%= t('app.footer.copyright-holder') %> <%= Date.today.year %></p>
    </div>
</div>
