<h1> Editing field </h1>

<%= render 'form' %>
<div id="field-options-app-container" class="row voffset30"></div>
<%= render "shared/field_options_app", field: @field %>

<%= link_to 'Show', @field %> | <%= link_to 'Back', fields_path %>

