<!DOCTYPE html>
<html>
  <body> 
    <%= yield %>
  </body> 
</html>

<script language="javascript">
  n =  new Date();
  y = n.getFullYear();
  m = n.getMonth() + 1;
  d = n.getDate();
  document.getElementById("date").innerHTML = m + "/" + d + "/" + y;
  </script>
